doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet" href="https://unpkg.com/mvp.css") 
    body 
        header
            h1 Noom 
        main 
            div#welcome
                form
                    input#roomName(type="text", placeholder="room name", required)
                    input#nickname(type="text", placeholder="nickname", required)
                    button Enter Room
                h4 Open Rooms
                ul
            div#room
                h3
                ul
                form#chat
                    input(type="text", placeholder="Write a message", required)
                    button Send
                form#editNickname
                    input(type="text", placeholder="edit nickname", required)
                    button Edit
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 