doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet" href="https://unpkg.com/mvp.css") 
    body 
        header
            h1 Zoom clone challenge Chat!
            hr
        main
            #enterRoom
                form 
                    input#roomName(type="text", placeholder="Room name", required)
                    input#nickname(type="text", placeholder="Nickname", required)
                    button Enter
                h3 Opend Room
                ul
            #chat
                h2
                ul
                form#msg
                    input(type="text", placeholder="Write a message", required)
                    button Send
                form#editNickname
                    input(type="text", placeholder="Edit Nickname", required)
                    button Edit
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 